@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');

.nav-item {
    font-family: "Playfair Display", serif; /*Font style and back up font.*/
    font-size: 20px; /*Font size.*/
    font-weight: 500; /*Font boldness.*/
    color: #ffffff; /*Font color.*/
}
.nav-link {
    color: #ffffff; /*Font color.*/
}
.nav-link:hover {
    color: #00c8ff; /*Font color when hovered over.*/
}